li {
  list-style: none;
}

.header {
  background-color: #3ccff0;
  min-height: 2vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.header .logo-title .nav-title {
  color: white;
  text-decoration: none;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title:hover {
  color: white;
}

.header .logo-title .logo {
  padding: 0 10px;
  margin-right: 10px;
  margin-top: 10px;
  color: grey;
  text-decoration: none;
}

.logo:hover {
  color: gray;
}

.logo-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .menu .nav-link {
  transition: 0.7s ease;
  color: white;
  height: 1px;
  text-decoration: none;
  margin-bottom: 15px;
  border-color: solid red;
}

.header .menu .nav-link:hover {
  color: #FDB750;
}

.sub-title {
  color: grey;
  font-size: 16px;
  font-style: italic;
}

.navbar {
  background-color: #3ccff0;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.site-card-border-less-wrapper {
  padding: 30px;
}

.ant-card-head-title {
  padding: 0px !important;
  border-bottom: 0px !important;
}

.ant-card-body {
  padding: 10px 15px 20px 20px !important;
}

.ant-card-head {
  border-bottom: none !important;
  min-height: 20px !important;
}

.ant-typography.ant-dropdown-trigger {
  display: none;
}

.ant-btn.ant-btn-ghost.ant-btn-icon-only.ant-btn-background-ghost {
  border: none;
  margin-left: 10px;
}

@media(max-width: 1040px) {
  .hamburger {
    display: block;
  }

  .nav-title {
    display: none;
  }

  .menu {
    display: none;
  }

  .ant-drawer-title .drawer-title {
    color: gray;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  .ant-layout-sider.ant-layout-sider-dark.site-layout-background {
    display: none !important;
  }

  .ant-typography.ant-dropdown-trigger {
    display: block;
    font-size: x-large;
    margin-right: 10px;
  }

  .ant-card-meta-avatar {
    display: none;
  }
}