li {
  list-style: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.header {
  background-color: #3ccff0;
  min-height: 2vh;
  /* flex-direction: row; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(6px + 2vmin);
  color: white;
}


.menu-item {
  color: white !important;
}

.title {
  color: white;
  text-decoration: none !important;
}

.title:hover{
  color: white;
}

.logo {
  /* padding: 0 24px; */
  color: grey;
}

.site-card-border-less-wrapper {
  padding: 30px;
}

.ant-card-head-title {
  padding: 0px !important;
  border-bottom: 0px !important;
}

.ant-card-body {
  padding: 10px 15px 20px 20px !important;
  /* padding-bottom: 20px !important ; */
}


.nav-link {
  transition: 0.7s ease !important;
  color: white !important;
  height: 1px;
  text-decoration: none !important;
}

.nav-link:hover {
  color: dodgerblue !important;
}


.sub-title {
  color: grey;
  font-size: 16px;
  font-style: italic;
}

.ant-card-head {
  border-bottom: none !important;
  min-height: 20px !important;
}


.navbar {
  background-color: #3ccff0;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-logo {
  color: rgba(255, 255, 255, 0.3) !important;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* 
@media(max-width: 768px){
  \
} */