.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.ant-layout-header.header {
  background-color: #3ccff0;
  min-height: 10vh;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(6px + 2vmin);
  color: white;
}

.menu-item {
  margin-left: 0 !important;
  color: white !important;
}

.title {
  margin: 15px 10px 0px 0px;
  color: white;
}

.logo {
  margin: 15px 10px;
  margin-right: 5px !important;
  color: grey;
}

.item-list {
  margin-bottom: 10px;
  margin-top: 10px;
}

.site-card-border-less-wrapper {
  padding: 30px;
}

.ant-card-head-title {
  padding: 0px !important;
  border-bottom: 0px !important;
}

.ant-card-body {
  padding: 10px 15px 20px 20px !important;
  /* padding-bottom: 20px !important ; */
}

.menu-item {
  color: white;
  height: 1px;
  transition: all 2s;
}

.sub-title {
  color: grey;
  font-size: 16px;
  font-style: italic;
}

.ant-card-head{
  border-bottom: none !important;
  min-height: 20px !important;
}